h3 {
  font-family: "Staatliches";
  color: green;
  
}

body {
  background-image: url('Calendar.jpg');
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
  font-weight: 600;
  color:navy;
}

h1 {
  font-family: "Sigmar One";
  font-size: 4.5rem;
  background-color: greenyellow;
}
 
